---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import Header from "../components/Header.astro";
import Gradient from "../components/Gradient.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<Layout
    title="Gurkenrepublik"
    description="Wir sind drei deutsche Gurkenprogrammierer!"
>
    <Navbar />
    <Main>
        <Header>Das <Gradient>Gurkengesetz</Gradient></Header>
    </Main>
</Layout>
<h2>Präambel</h2>
<p>
    In Verantwortung vor dem Volk dieses Landes und deren Willen. Getrieben von
    der Vorstellung eine Republik zu schaffen, welche Gurkoria vertritt und
    Stärke aufweißt. Getrieben davon, das Beste für das Land und dessen
    Gurkenvolk zu schaffen. Einheitlich werden <b>Gurkendistrikte</b> zusammen
    agieren um den Frieden im Land zu wahren. Damit gilt das Gurkengesetz für
    das gesamte Gurkenvolk.
</p>
<h3>Zum Gurkenwasser</h3>
<p>
    Das Gurkenwasser ist uns heilig und jegliche Amtshandlungen sind ihm
    zudiensten. Jegliche Gefahr von Personen, die das Gurkenwasser nicht zu
    schätzen wissen, muss beseitigt werden. Möge das Gurkenwasser gedeihen bis
    in die Ewigkeit.
</p>
<Footer />
