---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import Header from "../components/Header.astro";
import Gradient from "../components/Gradient.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<Layout
    title="Gurkenrepublik"
    description="Wir sind drei deutsche Gurkenprogrammierer!"
>
    <Navbar />
    <Main>
        <Header>Das <Gradient>Gurkengesetz</Gradient></Header>
    </Main>
</Layout>
<h2>Präambel</h2>
<ol>
    <p>
        In Verantwortung vor dem Volk dieses Landes und deren Willen. Getrieben
        von der Vorstellung eine Republik zu schaffen, welche Europa vertritt
        und Stärke aufweißt. Getrieben davon das Beste für das Land und dessen
        Volk zu schaffen. Einheitlich werden *Bundesländer* zusammen agieren um
        den Frieden im Land zu wahren. Damit gilt das Gurkengesetzt für das
        gesamte Volk.
    </p>
    <Footer />
</ol>
