---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import Header from "../components/Header.astro";
import Gradient from "../components/Gradient.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<Layout
	title="Gurkenparty"
	description="Wir sind drei deutsche Gurkenprogrammierer!"
>
	<Navbar />
	<Main style="text-align: center;">
		<Header>
			Willkommen bei den <Gradient>Gurken!</Gradient>
		</Header>
		<p>Wir sind drei deutsche Gurkenprogrammierer!</p>
	</Main>
	<Footer />
</Layout>
