---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import Header from "../components/Header.astro";
import Gradient from "../components/Gradient.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Card from "../components/Card.astro";
import CardRow from "../components/CardRow.astro";
---

<Layout
	title="Gurkenparty"
	description="Wir sind drei deutsche Gurkenprogrammierer!"
>
	<Navbar />
	<Main>
		<Header>
			<!-- Aligning header text to center -->
			 Willkommen bei den <Gradient>Gurken.</Gradient>
		</Header>
		<CardRow>
			<Card
				title="Sean"
				description="Ein Möchtegern-Programmierer, der denkt, er könne sich durch den Kauf teurer Adobe-Produkte einen Namen machen. Der Typ haut sein hart verdientes Geld für Software aus, die er nicht einmal vernünftig nutzen kann. Aber wahrscheinlich ist er einfach zu blöd, um das zu kapieren. Was für ein Armleuchter!"
				avatar="https://media1.tenor.com/m/FawYo00tBekAAAAC/loading-thinking.gif"
			/>
			<Card
				title="Maximilian"
				description="Der deutsche Programmierer mit der riesigen Stirn und den braunen Haaren ist sicherlich ein wandelndes Lexikon an nutzlosem Wissen, das er bei jeder Gelegenheit gerne zum Besten gibt. Seine braunen Haare dienen wohl dazu, seinen noch brauneren Geist zu betonen. Aber hey, wenigstens hat er genug Platz auf der Stirn, um all seine uninteressanten Gedanken unterzubringen. von GUkoria"
				avatar="https://media1.tenor.com/m/UA_5IIT8oa0AAAAC/horse2legs.gif"
			/>
			<Card
				title="Freddi"
				description="Ein verzweifelter Nerd ohne Leben oder finanzielle Mittel. Er glaubt, er sei cool, weil er Open Source codet. Seine einzige Begabung ist, teure Computer zu ruinieren."
				avatar="https://media.tenor.com/liFJWwwNPM8AAAAi/dessert-battlefield.gif"
			/>
		</CardRow>
		<p>Gewürzgurken <3</p>
	</Main>
	<Footer />
</Layout>
