---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import Header from "../components/Header.astro";
import Gradient from "../components/Gradient.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Card from "../components/Card.astro";
import CardRow from "../components/CardRow.astro";
---

<Layout
	title="Gurkenparty"
	description="Wir sind drei deutsche Gurkenprogrammierer!"
>
	<Navbar />
	<Main>
		<Header>
			<!-- Aligning header text to center -->
			 Willkommen bei den <Gradient>Gurken.</Gradient>
		</Header>
		<CardRow>
			<Card
				title="Sean"
				description="Was immer Freddi sagt, ich bin dagegen!"
				avatar="https://media1.tenor.com/m/FawYo00tBekAAAAC/loading-thinking.gif"
			/>
			<Card
				title="Maximilian"
				description="König Maximilian I. Einer der drei Erbauer und Anführer von Gukoria. Liebhaber von Sushi und eine sportliche Gurke. Wenn du Tipps brauchst frag ihn. PS. Vertraut niemals Sean."
				avatar="https://media1.tenor.com/m/cNzBUrVOcfQAAAAd/rengoku-demon-slayer.gif"
			/>
			<Card
				title="Freddi"
				description="Ich mag open source und hasse Adobe. Max hat eine große Stirn."
				avatar="https://media.tenor.com/liFJWwwNPM8AAAAi/dessert-battlefield.gif"
			/>
		</CardRow>
		<p>https://codepen.io/gatoledo1/pen/zYYEazv <3</p>
	</Main>
	<Footer />
</Layout>
