---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import Header from "../components/Header.astro";
import Gradient from "../components/Gradient.astro";
---

<Layout
	title="Moin bei den Gurken."
	description="Wir sind drei deutsche Gurkenprogrammierer!"
>
	<Main>
		<Header>Moin bei den <Gradient>Gurken</Gradient></Header>
		<p>Wir sind drei deutsche Gurkenprogrammierer!</p>
	</Main>
</Layout>
