---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import Header from "../components/Header.astro";
import Gradient from "../components/Gradient.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Card from "../components/Card.astro";
import CardRow from "../components/CardRow.astro";
---

<Layout
    title="Gurkenrepublik"
    description="Wir sind drei deutsche Gurkenprogrammierer!"
>
    <Navbar />
    <Main>
        <Header>
            <!-- Aligning header text to center -->
             Willkommen in der <Gradient>Gurkenrepublik.</Gradient>
        </Header>

        <CardRow>
            <Card
                title="Sean"
                description="Was immer Freddi sagt, ich bin dagegen!"
                avatar="https://media1.tenor.com/m/FawYo00tBekAAAAC/loading-thinking.gif"
            />
            <Card
                title="SMPG"
                description="Die Sozialistisch-Monarchische Partei der Gurken. Gegründet 1342 führt diese Partei schon seit langem die Gurken an. Sie steht für Gleichheit, Gerechtigkeit aber auch vor allem für die Stärke des Volkes. Hier wird auf die Menschenrechte und auf faire Arbeitsbedingungen sowie wenig Abgaben Wert gelegt."
                avatar="https://media1.tenor.com/m/4xysR-bQqNwAAAAd/keith-red.gif"
            />
            <Card
                title="Freddi"
                description="Finanzierer der Netzseite. Das wars dann auch eigentlich."
                avatar="https://media.tenor.com/liFJWwwNPM8AAAAi/dessert-battlefield.gif"
            />
        </CardRow>
    </Main>
</Layout>
<Footer />
