---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import Header from "../components/Header.astro";
import Gradient from "../components/Gradient.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<Layout
    title="Gurkenrepublik"
    description="Wir sind drei deutsche Gurkenprogrammierer!"
>
    <Navbar />
    <Main>
        <Header>Willkommen in der <Gradient>Gurkenrepublik.</Gradient></Header>
    </Main>
</Layout>
<h2></h2>
<ol>
    <p>Moin master</p>
    <Footer />
</ol>
