<span class="gradient"><slot /></span>

<style>
    .gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
        text-shadow: 0px 0px 75px rgba(var(--accent), 0.9);
    }
</style>
