<span class="hover"><slot /></span>

<style>
    .hover:hover {
        text-shadow: 0px 0px 2em rgba(var(--accent), 1);
        color: rgb(var(--accent));
    }
    .hover {
        transition: text-shadow 0.25s;
        transition: color 0.25s;
    }
</style>
