---
import Hover from "./Hover.astro";
---

<div class="top-bar">
    <div id="btnbar" class="top-bar-links">
        <Hover><a href="/" class="top-bar-link">About Us</a></Hover>
        <Hover>
            <a href="/republic" class="top-bar-link">Republik Gurkenland</a>
        </Hover>
        <Hover><a href="/ohio" class="top-bar-link">KeinPLanGrad</a></Hover>
    </div>
</div>

<style>
    .top-bar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: flex-start;
        padding: 0 20px;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-color: rgb(var(--accent));
    }

    .top-bar-links {
        display: flex;
        align-items: center;
        gap: 2em;
    }

    .top-bar-link {
        color: inherit;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
    }
</style>
